body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #e5e5ff;
  padding: 0.5rem;
  text-align: center; /* Center the content inside the navigation */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px; /* Adjust the margin as needed */
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px; /* Set padding for both normal and hover state */
  border-radius: 5px; /* Set border-radius for both normal and hover state */
  transition: color 0.3s, background-color 0.3s; /* Add a smooth transition effect for color and background-color */
}

nav a:hover {
  color: #ffffff;
  background-color: #00004c;
}


/* Style for the current page link */
nav li.current a {
  color: #ffffff;
  background-color: #00004c;
}

footer {
  text-align: center;
  padding: 10px;
  color: #000;
}


main {
  margin: 20px;
}

#education {
      display: flex;
      flex-wrap: wrap;
    }

    .cv-section {
      width: calc(33.33% - 20px); /* Adjust width as needed, considering margins */
      margin-right: 20px; /* Adjust margin as needed */
      margin-bottom: 20px;
    }

    .cv-section p {
      margin: 0;
    }
